@layer reset, base, tokens, recipes, utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.75;
}

h1 {
  font-size: 2.5rem;
  border-bottom: solid 2px white;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.5rem;
  border-bottom: solid 1px white;
  margin-bottom: 24px;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin-left: 2rem;
  margin-bottom: 24px;
}

li {
  list-style: disc inside;
}

li>ul {
  margin-bottom: 0px;
}

li>ul>li {
  list-style: circle inside;
}
